@font-face {
  font-family: "Creepy";
  src: url("../assets/Fonts/Creepy.woff") format("woff"), url("../assets/Fonts/Creepy.woff2") format("woff2");
}
@font-face {
  font-family: "Lunacy";
  src: url("../assets/Fonts/Lunacy.woff") format("woff"), url("../assets/Fonts/Lunacy.woff2") format("woff2");
}
html {
  min-height: 100vh;
  cursor: url("../assets/Cursors/Ghost.cur"), auto;
}

* {
  box-sizing: border-box;
}
* body {
  margin: 0;
  background: radial-gradient(blue, #3D2200);
}
* body h1.page-title {
  color: #FF6D00;
  font-family: "Creepy", serif;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
}
* body div.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
  perspective: 500px;
}
* body div.game-container div.game-info-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}
* body div.game-container div.game-info-container div.game-info {
  color: #e7d1ca;
  font-family: "Lunacy", serif;
  font-size: 4em;
}
* body div.game-container div.card {
  height: 175px;
  width: 125px;
  position: relative;
}
* body div.game-container div.card div.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  transition: transform 500ms ease-in-out;
}
* body div.game-container div.card div.card-face img.cob-web {
  position: absolute;
  width: 47px;
  height: 47px;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
}
* body div.game-container div.card div.card-face img.cob-web-top-left {
  transform: rotate(270deg);
  top: 0;
  left: 0;
}
* body div.game-container div.card div.card-face img.cob-web-top-right {
  top: 0;
  right: 0;
}
* body div.game-container div.card div.card-face img.cob-web-bottom-left {
  transform: rotate(180deg);
  bottom: 0;
  left: 0;
}
* body div.game-container div.card div.card-face img.cob-web-bottom-right {
  transform: rotate(90deg);
  bottom: 0;
  right: 0;
}
* body div.game-container div.card div.card-front {
  transform: rotateY(180deg);
  background-color: #e7d1ca;
  border-color: #333;
}
* body div.game-container div.card div.card-front img.card-value {
  transform: scale(0.9);
  transition: transform 100ms ease-in-out;
}
* body div.game-container div.card div.card-front:hover img.card-value {
  transform: scale(1);
}
* body div.game-container div.card div.card-back {
  background-color: black;
  border-color: #FF6D00;
}
* body div.game-container div.card div.card-back img.spider {
  align-self: flex-start;
  transform: translateY(-10px);
  transition: transform 100ms ease-in-out;
}
* body div.game-container div.card div.card-face:hover img.spider {
  transform: translateY(0);
}
* body div.game-container div.card div.card-face:hover img.cob-web {
  width: 52px;
  height: 52px;
}
* body div.game-container div.card:hover {
  cursor: url("../assets/Cursors/GhostHover.cur"), auto;
}
* body div.game-container div.card.matched div.card-face img.card-value {
  animation: dance 1s linear infinite 500ms;
}
* body div.game-container div.card.visible div.card-back {
  transform: rotateY(-180deg);
}
* body div.game-container div.card.visible div.card-front {
  transform: rotateY(0);
}
* body div.overlay-text {
  display: none;
}
* body span.overlay-text-small {
  font-size: 0.3em;
}
* body div.overlay-text.visible {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #e7d1ca;
  font-family: "Creepy", serif;
  display: flex;
  animation: overlay-grow 500ms forwards;
  flex-direction: column;
}

@media (max-width: 600px) {
  body div.game-container {
    grid-template-columns: repeat(2, auto);
  }
  body div.game-container div.game-info-container {
    flex-direction: column;
    align-items: center;
  }
}
@keyframes dance {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
}
@keyframes overlay-grow {
  from {
    background-color: black;
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10em;
  }
}

/*# sourceMappingURL=style.css.map */
