////////////////////////////////////////////////////////IMPORT FONTS/////////////////////////////////////////////////////////


@font-face {
    font-family: "Creepy";
    src: url("../assets/Fonts/Creepy.woff") format("woff"), url("../assets/Fonts/Creepy.woff2") format("woff2");
}
@font-face {
    font-family: "Lunacy";
    src: url("../assets/Fonts/Lunacy.woff") format("woff"), url("../assets/Fonts/Lunacy.woff2") format("woff2");
}


////////////////////////////////////////////////////////SET VARIABLES/////////////////////////////////////////////////////////


$main_font : "Creepy", serif;
$main_font_color: #FF6D00;
$secondary_font: "Lunacy", serif;
$secondary_font_color: rgb(231, 209, 202);


////////////////////////////////////////////////////////CSS START/////////////////////////////////////////////////////////


html {
    min-height: 100vh;
    cursor: url("../assets/Cursors/Ghost.cur"), auto;
}

* {
    box-sizing: border-box;
    body {
        margin: 0;
        background: radial-gradient(blue, #3D2200);
        h1.page-title {
            color: $main_font_color;
            font-family: $main_font;
            font-weight:normal;
            text-align: center;
            font-size: 6em;
        }
        div.game-container {
            display: grid;
            grid-template-columns: repeat(4, auto); //create 4 columns that are sized based on content size
            grid-gap: 10px;
            margin: 50px;
            justify-content: center;
            perspective: 500px; //for 3d, 500px user is 500px away
            div.game-info-container {
                grid-column: 1 / -1; //So it spans the whole row
                display: flex;
                justify-content: space-between;
                div.game-info {
                    color: $secondary_font_color;
                    font-family: $secondary_font;
                    font-size: 4em;
                }
            }


/////////////////////////////////////////////////////////////////////////////////////CARD DIV////////////////////////////////////////////////////////////////////////////////////////////////////////
            div.card {
                height: 175px;
                width: 125px;
                position: relative;


                ///////////////CARD CSS STRUCTURE///////////////
                div.card-face {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content:center;
                    align-items:center;
                    overflow: hidden;
                    backface-visibility: hidden; // anything turned away from viewer is hidden
                    border-radius:12px;
                    border-width: 1px;
                    border-style: solid;
                    transition: transform 500ms ease-in-out; //for card flip animation
                    img.cob-web {
                        position: absolute;
                        width: 47px;
                        height: 47px;
                        transition: width 100ms ease-in-out, height 100ms ease-in-out; //cobweb grow
                    }
                    img.cob-web-top-left {
                        transform: rotate(270deg);
                        top: 0;
                        left: 0;
                    }
                    img.cob-web-top-right {
                        top: 0;
                        right: 0;
                    }
                    img.cob-web-bottom-left {
                        transform: rotate(180deg);
                        bottom: 0;
                        left: 0;
                    }
                    img.cob-web-bottom-right {
                        transform: rotate(90deg);
                        bottom: 0;
                        right: 0;
                    }
                }


                ///////////////FRONT OF CARD///////////////
                div.card-front {
                    transform: rotateY(180deg); //turned away from the viewer so it is hidden by default
                    background-color: $secondary_font_color;
                    border-color: #333;
                    img.card-value {
                        transform: scale(.9);
                        transition: transform 100ms ease-in-out;
                    }
                }
                div.card-front:hover {
                    img.card-value {
                        transform: scale(1); //grow size of icon
                    }
                }


                ///////////////BACK OF CARD///////////////
                div.card-back {
                    background-color: black;
                    border-color: $main_font_color;
                    img.spider {
                        align-self: flex-start;
                        transform: translateY(-10px);
                        transition: transform 100ms ease-in-out;
                    }
                }
                div.card-face:hover{
                    img.spider{
                        transform: translateY(0); //move spider up
                    }
                    img.cob-web {
                        width: 52px;
                        height: 52px;
                    }
                }
            }//div card end


/////////////////////////////////////////////////////////////////////////////////////CARD ACTIONS////////////////////////////////////////////////////////////////////////////////////////////////////////
            div.card:hover {
                cursor: url("../assets/Cursors/GhostHover.cur"), auto;
            }
            div.card.matched {
                div.card-face{
                    img.card-value {
                        animation: dance 1s linear infinite 500ms; // a dance that last 1second, loops infinitely, and starts after the card has flipped
                    }
                }
            } 
            div.card.visible {
                div.card-back {
                    transform: rotateY(-180deg); //hide card back
                }
                div.card-front {
                    transform: rotateY(0); //show card front
                }
            }


        }//div card-container end


////////////////////////////////////////////////////////////////////////MENU SCREENS////////////////////////////////////////////////////////////////////////
        

        div.overlay-text{
            display: none;
        }
        span.overlay-text-small {
            font-size: .3em;
        }
        div.overlay-text.visible {
            position: fixed; //element stays in same point of screen no matter where you are on screen
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display:flex;
            justify-content:center;
            align-items:center;
            z-index: 100;
            color: $secondary_font_color;
            font-family: $main_font;
            display:flex;
            animation: overlay-grow 500ms forwards; //forwards means all properties from end animation apply to overlay-text
            flex-direction: column;
        }


    }//body end
}// all end




//////////////////////////////////////////////////////////////////////@ MEDIAS//////////////////////////////////////////////////////////////////////


@media (max-width:600px){
    body {
        div.game-container{
            grid-template-columns: repeat(2, auto);
            div.game-info-container {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}


////////////////////////////////////////////////////////////////////////ANIMATIONS////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@keyframes dance {
    0%, 100% {
        transform: rotate(0) //start and end positions
    }
    25% {
        transform: rotate(-30deg)
    }
    75% {
        transform: rotate(30deg)
    }
}

@keyframes overlay-grow {
    from {
        background-color: black;
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, 0.8);
        font-size:10em
    }
}